<div class="createNew" ng-if="!judge()">
    <div class="wrap">
	<a href="#/0">新建问卷</a>
	</div>
</div>
<div class="list" ng-if="judge()">
	<table>
		<thead>
			<tr>
			    <th></th>
				<th>标题</th>
				<th>时间</th>
				<th>状态</th>
				<th>操作</th>
				<th><a href="#/0">新建问卷</a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="list in lists track by $index">
				<td>
					<input type="checkbox" value="">
				</td>
				<td>{{list.title}}</td>
				<td>{{list.time}}</td>
				<td>{{list.status}}</td>
				<td><div>
					<a ui-sref="editPages({indexId:$index+1})">编辑</a>
					<button ng-click="delete($index)">删除</button>
					<a ui-sref="showResult({showId:$index+1})">查看数据</a>
				</div></td>
			</tr>
		</tbody>
	</table>
</div>