.fp-tableCell{
	vertical-align:text-top;
}
.section{
	background-color: rgba(255,250,182,.6);
}
.section1{
	position:relative;
}
.section1 h1{
	width: 190px;
	text-align: center;
	margin: 0 auto;
	padding-top: 40px;
	text-shadow: 1px 1px 1px rgba(255,234,245,.3);
}
.section1 img{
	width:1000px;
	position: absolute;
	right: -840px;
	top: 200px;
}
.job{
	text-align: center;
	margin-top: 20px;
	margin-left: 20em;
}
.job span{
	font-weight: bold;
}
.normal{
	width: 600px;
	margin-top: 80px;
	margin-left: 40px;
	display: none;
	transform: translate(25px,34px);
	-webkit-transform: translate(25px,34px);
	-o-transform: translate(25px,34px);
	-moz-transform: translate(25px,34px);
}
.normal >p{
	text-align: center;
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
}
.section2 >p{
	width:80px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding-top: 50px;
	margin:0 auto;
}
.section2 .slide p{
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	font-size: 18px;
}
.section2 a,.section2 img{
	display:block;
	width: 800px;
	margin: 0 auto;
	padding-top: 40px;
}
.section2 img{
	height: 400px;
}
.section3{
	position: relative;
}
.section3 p:first-child,.section3 p:nth-child(3),.section3 p:nth-child(2){
	position:absolute;
	bottom: 270px;
	left: 140px;
	font-size: 16px;
	line-height: 14px;
}
.section3 p:nth-child(3):before,.section3 p:nth-child(2):before{
	content:'';
	width: 80px;
    height: 94px;
   	background: url(../img/6.png);
   	position: absolute;
   	left: -80px;
}
.section3 p:nth-child(2){
	bottom:370px;
}
.section3 p:nth-child(2):before{
	background-position: 83px 273px;
	top: -30px;
	left: -95px;
}
.section3 p:nth-child(3):before{
    background-position: -200px 463px;
    top:-35px;
}
.section3 h3{
	width: 200px;
	margin: 0 auto;
	padding-top: 40px;
	font-size: 24px;
	line-height: 24px;
}
.section3 img{
	width:1000px;
	position: absolute;
	right: 40px;
	top: 1000px;
}
#fp-nav.right{
	right: 80px;
}
.fp-controlArrow.fp-prev{
	left: 100px;
}
.fp-controlArrow.fp-next{
	right: 100px;
}