html,body,p,h5{
	margin:0;
	padding:0;
}
.clearfix{zoom:1;}
.clearfix:after{
    content:'';
    display:block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a,a:hover,a:visited,a:link{
	text-decoration: none;
}
ul li{
	list-style-type:none;
}